@model ASP_MVC_PROJECT.Models.ChangeUserNameSurnameViewModel
@{
    ViewBag.Title = "Zmień dane konta";
}
<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz zmianę" class="btn btn-default" />
        </div>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
}
