@model ASP_MVC_PROJECT.Models.ClassSubject

@{
    ViewBag.Title = "Delete";
}

<h3>Jesteś pewien że chcesz usunąć ten przedmiot z klasy?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Klasa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>

        <dt>
            Przedmiot
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>

        <dt>
            Nauczyciel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Teacher.Name)
            @Html.DisplayFor(model => model.Subject.Teacher.Surname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
