@model IEnumerable<ASP_MVC_PROJECT.Models.ClassSubject>

@{
    ViewBag.Title = "Lista przedmiotów";
}

<br />
<h2>Lista przedmiotów przypisanych do klas</h2>
<br />

@{ var currentClass = ""; }
<table class="table">
    @foreach (var item in Model)
    {
        if (currentClass != item.Class.Name)
        {
            currentClass = item.Class.Name;
            <tr class="bg-primary">
                <th>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </th>
                <th>
                    Przedmiot
                </th>
                <th>
                    Nauczyciel
                </th>
                <th>

                </th>
            </tr>
        }
        <tr>
            <td>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Teacher.Name)
                @Html.DisplayFor(modelItem => item.Subject.Teacher.Surname)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ClassSubjectID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ClassSubjectID })
            </td>
        </tr>
     }
</table>
    <p>
        @Html.ActionLink("Dodaj", "Create")
    </p>
