@model ASP_MVC_PROJECT.Models.Subject

@{
    ViewBag.Title = "Delete";
}
<h3>Jesteś pewien że chcesz usunąć ten przedmiot?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Nauczyciel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Name)
            @Html.DisplayFor(model => model.Teacher.Surname)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
