@model IEnumerable<ASP_MVC_PROJECT.Models.Subject>

@{
    ViewBag.Title = "Subjects";
}

<br />
<h2>Lista przedmiotów</h2>
<br />

<table class="table">
    <tr>
        <th>
            Nazwa przedmiotu
        </th>
        <th>
            Nauczyciel
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Teacher.Name)
        @Html.DisplayFor(modelItem => item.Teacher.Surname)
    </td>
    <td>
        @Html.ActionLink("Edytuj", "Edit", new { id = item.SubjectID }) |
        @Html.ActionLink("Usuń", "Delete", new { id = item.SubjectID })
    </td>
</tr>
}
</table>
<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
